<!DOCTYPE html> 
<html class="no-js"> 
<head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" /> 

  <title>Mike Bucks Loves The Web</title> 

  <script type="text/javascript" src="http://use.typekit.com/syy4sjr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 

  <link rel="stylesheet" href="stylesheets/reset.css" /> 
  <link rel="stylesheet" href="stylesheets/colorado.css" /> 
</head> 
<body> 

<div id="Nav_Main">
  <ul>
    <li class="web"><a href="#web">Web</a></li>
    <li class="colorado"><a href="#colorado">Colorado</a></li>
    <li class="you"><a href="#you">You</a></li>
  </ul>
</div>

<div id="MB_Wrapper"> 
  <h1>Mike Bucks</h1>
  <div id="Focus_Top" class="colorado"></div> 
  <div id="Focus_Btm"> 
    <h2><em>Loves</em> <span>The Web</span></h2> 
  </div> 
</div> 

<div id="MB_Content"> 
  <div id="web"> 
    <p>UI designer and developer.</p> 
    <ul>
      <li><a href="http://superpsyched.com/">Behavior Lens iPad app</a></li>
      <li><a href="http://dossyay.com">dossyay</a></li> 
      <li><a href="http://m.nextpedition.com">American Express Nextpedition Mobile</a> - CPB</li> 
      <li><a href="http://m.thefwa.com/site/babycarrots-com">Baby Carrots Mobile</a> - CPB</li> 
      <li><a href="http://showusyourpizza.com/">Dominos Show Us Your Pizza</a> - CPB</li> 
      <li><a href="http://bestbuymoviemode.com/">Best Buy Movie Mode</a> - CPB</li>
      <li><a href="https://github.com/mikebucks/Smallfari">Smallfari - Mobile Web Design Made Easier</a></li> 
      <li><a href="http://niblink.com">Niblink</a></li> 
    </ul> 
  </div> 

  <div id="colorado"> 
    <p>I live in Boulder, CO with my beautiful family.</p>
  </div> 

  <div id="you"> 
    <p>Say hi. Let's have a beer.</p>
    <ul>
      <li><a href="http://twitter.com/mikebucks">Twitter</a></li> 
      <li><a href="mailto:dangerbucks@gmail.com">Email</a></li> 
      <li><a href="/docs/MikeBucksResume.rtf">Resum&eacute;</a></li> 
  </ul>
  </div> 
</div> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script> 
<script type="text/javascript" src="javascripts/mb.js"></script>
</body> 
</html>