<!DOCTYPE html> 
<html class="no-js"> 
<head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" /> 

  <title>Mike Bucks, Resume</title> 

  <script type="text/javascript" src="http://use.typekit.com/syy4sjr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 

  <link rel="stylesheet" href="stylesheets/reset.css" /> 
  <link rel="stylesheet" href="stylesheets/colorado.css" /> 
</head> 
<body id="resume"> 
<h2>Mike Bucks // UI Design and Development // MikeBucks.com</h2>

<h3>Hello:</h3>
<p>I'm Mike. I do design and front end development. I enjoy beautiful code, thoughtful interactions, inspired design, and creative business strategy. I've worked on some of the biggest brands in the world and I'm looking for new challenges in software design.</p>

<h3>Goals:</h3>
<p>I'd like to join a design focused organization with a culture of innovation and quality. I need to put my technical and creative skills toward solving difficult software problems. My ideal position is a mixture of UI design, front end architecture, product strategy, team building, and project management.</p>

<h3>Work:</h3>
<ul>
  <li>
    <p>January 2012 - Present</p>
    <p>TBWA\CHIAT\DAY - Los Angeles, CA</p>
    <p>Tech Lead</p>
    <p>Lead development efforts for existing clients and new business. Managed on-site and overseas development teams. Solidified front end development standards and practices.</p>
  </li>

  <li>
    <p>June 2011 - January 2012</p>
    <p>Foraker Labs - Boulder, CO</p>
    <p>UI Designer</p>
    <p>As the sole designer in an engineering firm, I am leading all front end initiatives. Foraker is known for it's exceptional Ruby on Rails development, I'm helping them become known for their interface design as well.</p>
  </li>
  <li>
    <p>September 2009 - June 2011</p>
    <p>Crispin Porter + Bogusky - Boulder, CO </p>
    <p>Interactive Developer</p>
    <p>Design and development for some of the most progressive brands on the planet. I've contributed to web apps for American Express, Domino's Pizza, Best Buy, Green Garage, Coke Zero, and Brammo Electric Motorcycles.</p>
  </li>
  <li>
    <p>January 2008 - September 2009</p>
    <p>Lijit Networks - Boulder, CO </p>
    <p>Web Designer</p>
    <p>Design, interaction, and development for a trust-based search engine. Created all user experience for Lijit's advertising product as well as its search engine result pages.</p>
  </li>
  <li>
    <p>January 2007 - December 2007</p>
    <p>Indigio Group - Denver, CO</p>
    <p>User Experience Designer</p>
    <p>Design, interaction, and development for high visibility web sites such as Media News Group, Pods, and Budget Rent-A-Car.</p>
  </li>
  <li>
    <p>March 2006 - January 2007</p>
    <p>CaCo Enterprises - Greeley, CO</p>
    <p>Design Director</p>
    <p>All design duties (print and web), marketing, interior design, and brand management for several Cricket Wireless retailers.</p>
  </li>
  <li>
    <p>January 2006 - June 2006</p>
    <p>Dangerbucks Design</p>
    <p>Freelance</p>
    <p>Developed web sites for small businesses throughout CO including: Harris and Harris Advertising, Palmer Custom Builders, DaGamma Web Studio, and Silent G Photography.</p>
  </li>
  <li>
    <p>January 2003 - January 2006</p>
    <p>Desk 'til Dawn Productions - Greeley, CO.</p>
    <p>Multimedia Designer</p>
    <p>Design, interaction, and ActionScript development for a wide range of clients and projects requiring highly interactive Flash content.</p>
  </li>
</ul>

<h3>Education:</h3>
<p>A.S., Communication Technology - Aims College - Greeley, CO - 2003</p>

<h3>Proficiencies:</h3>
<p>Copywriting, Art Direction, Product Strategy, Typography, Grid Systems, CSS, (X)HTML/HTML5, javaScript, jQuery, CoffeeScript, SASS/SCSS, Node.js, SVN, Git.</p>

<h3>Recognition:</h3>
<p>Communication Arts 2011 Interactive Annual, Best Buy Movie Mode app/site - http://www.commarts.com/interactive/cai11/bestbuymoviemode.html</p>
<p>FWA Mobile of the Day, BabyCarrots.com - http://thefwa.com/mobile/babycarrots-com</p>
<p>FWA Mobile of the Day, Coke Zero/TRON LiveCycle iPhone game/site - http://thefwa.com/mobile/tron-livecycle-</p>
<p>FWA Mobile of the Day, Best Buy Movie Mode app/site - http://thefwa.com/mobile/best-buy-movie-mode</p>

<address>
MikeBucks.com
6255 Habitat Drive #3021
Boulder, CO 80301
720 381 9994 
dangerbucks@gmail.com 
</address>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script> 
<script type="text/javascript" src="javascripts/mb.js"></script>
</body> 
</html>