body { height: 1200px; font: 12px regular "proxima-nova-1","proxima-nova-2"; color: black; }
a,
a:visited,
a:active { color: black; padding: 1px 3px;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}
a:hover { color: white; background: black; text-decoration: none; }
strong { font-weight: bold; }
em { font-style: italic; }

.dance { background: url('/images/dance.gif'); background-attachment: fixed; }

#home h1, 
#home h2, 
#home h3 { width: 395px; }
#home h1 { position: fixed; left: 83px; top: 158px; font: 45px "league-gothic-1","league-gothic-2"; letter-spacing: -2px; text-align: center; color: rgba(0,0,0,.85); }
#home h2 { position: absolute; top: -20px; width: 395px; font: 78px/100px "league-gothic-1","league-gothic-2"; color: white; text-align: center; }
#home h2 em { display: block; width: 123px; margin: -40px auto 0 auto; padding: 35px 0; font: 38px "jbt-annabelle-1","jbt-annabelle-2"; background: rgba(255,0,0,.2); 
  -webkit-border-radius: 70px;
     -moz-border-radius: 70px;
          border-radius: 70px;
  -webkit-transition: all .6s ease-in;
}
#home .colorado h2 em { background: rgba(0,255,0,.2); }
#home .beer h2 em { background: rgba(0,0,255,.3); }
#home h3 { font: 28px/16px "league-gothic-1","league-gothic-2"; text-align: center; }

#home #Nav_Main { position: fixed; z-index: 2; width: 100%; margin: 0 0 20px 0; border-top: solid 3px #000; }
#home #Nav_Main ul { position: fixed; left: 262px; top: 429px; }
#home #Nav_Main ul li { float: left; margin: 0 2px; }
#home #Nav_Main ul li a { display: block; width: 9px; height: 9px; padding: 0; text-indent: -9999px; background: white;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition-duration: .6s;
}
#home #Nav_Main ul li a:hover { background: red; }
#home #Nav_Main ul .colorado a:hover { background: green; }
#home #Nav_Main ul .you a:hover { background: blue; }

#home #MB_Wrapper { position: fixed; top: 75px; left: 83px; width: 395px; 
  -webkit-transform: rotate(-25deg), scale(.8);
}
#home #Focus_Top { width: 395px; height: 197px; margin: 0 auto; background: url(../images/mb.sprite.png) 0 -600px no-repeat; 
  -webkit-border-top-left-radius: 197px; -webkit-border-top-right-radius: 197px;
     -moz-border-radius-topleft:  197px;    -moz-border-radius-topright:  197px;
          border-top-left-radius: 197px;         border-top-right-radius: 197px;
}
#home #Focus_Btm { position: relative; width: 395px; height: 197px; margin: 0 auto; background: black; 
  -webkit-border-bottom-left-radius: 197px; -webkit-border-bottom-right-radius: 197px;
     -moz-border-radius-bottomleft:  197px;    -moz-border-radius-bottomright:  197px;
          border-bottom-left-radius: 197px;         border-bottom-right-radius: 197px;
}

#home #MB_Content { width: 350px; margin: 0 0 0 560px; }
#home #MB_Content div { height: 325px; }
#home #MB_Content #web { padding: 253px 0 0 0; }
#home #MB_Content p { padding: 0 0 4px 0; border-bottom: solid 4px black; }
#home #MB_Content ul li { margin: 4px 0; }

#home #colorado span { text-decoration: line-through; }

#home #web ul:first-of-type { margin-bottom: 5px; padding-bottom: 5px; }

#resume { height: auto; margin: 83px; font-size: 16px; }
#resume p,
#resume h2,
#resume li { margin: 0 0 16px 0; }
#resume h2,
#resume h3 { font: 28px bold "league-gothic-1","league-gothic-2"; }
#resume li p { margin: 0; }
#resume a { display: block; padding: 0; margin: 0 0 20px 0; }

/* Small Screen */
@media screen and (max-width: 800px) {
/*   body { background: lime; } */
}

@media screen and (max-width: 480px) {
  #home #MB_Wrapper { position: static; margin: 0; }
  #home #Nav_Main,
  #home #MB_Wrapper { display: none; }
  #home #MB_Content { width: auto; margin: 10px auto 0 auto; padding: 0 10px; }
  #home #Nav_Main ul li { width: 30.3%; margin: 5px 1.6%; }
  #home #Nav_Main ul li a { width: auto; padding: 20px 0; color: #000; background: #000; text-indent: none; 
    -webkit-border-radius: none !important; 
       -moz-border-radius: none;
            border-radius: none !important;
  }
  #home #MB_Content #web { padding: 0; }

  #resume { margin: 0 10px; }
}
