body { height: 1200px; font: 12px regular "proxima-nova-1","proxima-nova-2"; color: black; }
a,
a:visited,
a:active { color: black; padding: 1px 3px; }
a:hover { color: white; background: black; text-decoration: none; }
strong { font-weight: bold; }
em { font-style: italic; }

h1, h2, h3 { width: 395px; }
h1 { /* float: left; margin: 0 0 0 83px; */ font: 33px/33px "league-gothic-1","league-gothic-2"; text-align: center; }
h2 { position: absolute; top: -20px; width: 395px; font: 78px/100px "league-gothic-1","league-gothic-2"; color: white; text-align: center; }
h2 em { display: block; font: 38px "jbt-annabelle-1","jbt-annabelle-2"; }
h3 { font: 28px/16px "league-gothic-1","league-gothic-2"; text-align: center; }

#Header_Main { position: fixed; z-index: 2; width: 100%; height: 32px; margin: 0 0 20px 0; color: white; background: black; }
#Header_Main ul { float: left; margin: 14px 0 0 79px; }
#Header_Main ul li { float: left; margin: 0 10px 0 0; }
#Header_Main ul li a { color: white; }
#MB_Wrapper { position: fixed; top: 75px; left: 83px; width: 395px; /* margin: 0 0 0 -197px; */ }
#Focus_Top { width: 395px; height: 197px; margin: 0 auto; background: url(../images/mb.sprite.png) 0 -279px no-repeat; 
  -webkit-border-top-left-radius: 197px; -webkit-border-top-right-radius: 197px;
     -moz-border-radius-topleft:  197px;    -moz-border-radius-topright:  197px;
          border-top-left-radius: 197px;         border-top-right-radius: 197px;
/*   -webkit-transition: all .00001s none; */
}
#Focus_Btm { position: relative; width: 395px; height: 197px; margin: 0 auto; background: black; 
  -webkit-border-bottom-left-radius: 197px; -webkit-border-bottom-right-radius: 197px;
     -moz-border-radius-bottomleft:  197px;    -moz-border-radius-bottomright:  197px;
          border-bottom-left-radius: 197px;         border-bottom-right-radius: 197px;
}
#MB_Content { width: 350px; margin: 0 0 0 560px; }
#MB_Content div { height: 325px; }
#MB_Content #colorado { padding: 285px 0 0 0; }
#MB_Content p { padding: 0 0 4px 0; border-bottom: solid 4px black; }
#MB_Content ul li { margin: 4px 0; }

#pagination { position: fixed; right: 0; width: 27px; margin: 0 10px; overflow: visible; }
#pagination li { width: 27px; }
#pagination li a { display: block; width: 20px; height: 20px; padding: 0; border: solid 1px #ccc; text-indent: -9999px; background: white; 
  -webkit-border-radius: 10px;
}